@font-face {
  font-family: regular;
  src: url('../assets/fonts/nunito-regular.ttf');
}
@font-face {
  font-family: bold;
  src: url('../assets/fonts/nunito-bold.ttf');
}

body {
  font-family: regular;
}
